---
import { resume } from "@/data/resume"
import SectionLabel from "./SectionLabel.astro"
import BasicCard from "./BasicCard.astro"

const awards = resume.awards
---

<section class="border-b border-border py-24">
    <div class="mx-auto max-w-6xl px-6">
        <SectionLabel label="awards" />
        
        <div class="grid gap-4 md:grid-cols-3">
            {awards.map((award, index) => (
                <BasicCard index={index}>
                    {award}
                </BasicCard>
            ))}
        </div>
    </div>
</section>
