---
import { resume } from '@/data/resume';
import { propsToFilename } from 'astro/assets/utils'

interface Props {
  index: number
}
const { index } = Astro.props;
const indexStr = ""+index

const githubProjects = resume.githubProjects
const delayClass = (i: number) => `delay-${((i % 3) + 1) * 100}`
---

<div class={`rounded-lg h-full animate-fade-up ${delayClass(githubProjects.length + index)}`}>
  <slot />
</div>
